.mapped-plays-and-footer {
    background-color: rgb(254, 255, 250);
    background-image: radial-gradient(to center, rgb(254, 255, 251), rgb(244, 247, 232));
    background-attachment: fixed;
    min-height: 100vh;
}

.mapped-plays {
    padding-top: 144px; /* This is the height of HeaderBar */
    min-height: calc(100vh - 204px);
    width: 100%
}

footer {
    background-color: rgb(196, 226, 196);
    background-image: radial-gradient(to center, rgb(195, 241, 195), rgb(156, 243, 151));
    margin: 0;
    padding: 3px
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    padding: 0;
    list-style: none;
}

footer ul li:not(:last-of-type) {
    margin-right: 24px;
}

a:link {
    font-weight: bold;
    color: #23527c;
    text-decoration: none
}

a:visited {
    font-weight: bold;
    color: #23527c;
    text-decoration: none
}

a:hover {
    color: #193c5a;
    text-decoration: underline
}  

@media (max-width: 767px) {

    .mapped-plays {
        padding-top: 144px /* This is the height of HeaderBar */
    }

    footer {
        margin-top: -1px /* This is to hide the border-bottom of the last PlayDetails */
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li:not(:last-of-type) {
        margin-bottom: 3px;
        margin-right: 0;
    }
    
}

@media (min-width: 1080px) {
    .mapped-plays {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }
}