.mapped-plays-and-footer {
    background-color: rgb(254, 255, 250);
    min-height: 100vh;
}

.mapped-plays {
    padding-top: 144px; /* This is the height of HeaderBar */
    min-height: calc(100vh - 204px)
}

.footer {
    background-color: rgb(196, 226, 196);
    margin:0;
    padding: 3px
}

a:link {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:visited {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:hover {
    color: #23527c;
    text-decoration: underline
}  

@media (max-width: 767px) {

    .mapped-plays {
        padding-top: 144px /* This is the height of HeaderBar */
    }

    .footer {
        margin-top: -1px /* This is to hide the border-bottom of the last PlayDetails */
    }
    
}

@media (min-width: 1080px) {
    .mapped-plays {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }
}