.play-details {
    height: calc(100vh - 144px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.portrait {
    height: 90%
}

img.landscape {
    height: 60%
}

.play-text {
    width: 50%
}

.date {
    display: inline-block;
    padding: 2px 4px;
    margin: -0.5px 2px -0.5px 2px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #00ffff
}

.date:hover {
    background-color: #80ffff
}

.date:active {
    background-color: #b0ffff
}