.play-details {
    min-height: calc(100vh - 144px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px;
    width: calc(100% - 24px)
}

picture {
    display: contents;
}

img.portrait {
    max-height: calc(100vh - 168px);
    max-width: 66%;
    flex-shrink: 0;
}

img.landscape {
    height: calc(100vh - 240px)
}

.play-text {
    width: 55vw;
    padding-left: 12px;
}

.upcoming {
    position: relative;
    transform: translate(10px, 28px);
    cursor: pointer;
}

.upcoming:hover {
    background: url(./upcoming-hover.png) no-repeat 0 0;
    width: 0;
    height: 0;
    padding-right: 50px;
    width:0;
	height:0;
	padding:79px 0 0 113px
}

.upcoming:active {
    background: url(./upcoming-active.png) no-repeat 0 0;
}

.play-title {
    border-radius: 6px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #cfefef;
    cursor: pointer
}

.play-text-only {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.play-title:hover {
    background-color: #e7f7f7
}

.play-title:active {
    background-color: #f3fbfb  
}

.subheading {
    color: #795c28;
    font-weight: bold
}

.synopsis {
    background-color: #fdfde7; /* pale yellow */
    border-radius: 6px
}

.song-title {
  display: inline-block;
  margin: -0.5px 4px -0.5px 4px;
  border: 1px solid darkslategrey;
  border-radius: 6px;
  padding: 2px 4px
}

.example-lyric {
    border-radius: 6px;
    background-color: #fff8f5 /* pale orange */
}

.see-pdf {
    padding: 3px 6px;
    border-radius: 6px;
    background-color: #eaf7fd /* pale blue */
}

/* Media query for mobile */

@media (max-width: 767px) {

    .play-details {
        min-height: unset;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: space-around;
    }

    .play-details + .play-details {
        border-top: 1px solid black;
    }

    .play-details-text-only {
        padding: 12px 0;
    }

    .play-text {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-left: 0;
    }

    .upcoming {
        position: relative;
        margin: 12px 0 -24px 0;
        transform: translate(0px,0px);
    }

    img.portrait, img.landscape {
        margin: 8px 0 36px 0;
        max-width: 100%
    }

}

/* Media query to make Plays into two columns, if numPlays > 1 */

@media (min-width: 1250px) and (min-aspect-ratio: 12/13) {
    .play-details:not(.oneOf1) {
        width: 47vw
    }

    img.portrait {
        /* This is in 210:297 ratio with a height value of calc(100vh - 168px) */
        width: calc(70.8vh - 118.8px);
        /* These max values are in 210:297 ratio */
        max-height: 53.74vw;
        max-width: 38vw;
    }
    
    img.landscape {
        height: calc(100vh - 240px)
    }
}

/* Media query to make Plays into two rows, but only if numPlays > 2 */

@media (min-height: 1080px) {
    .play-details:not(.oneOf1):not(.oneOf2) {
        min-height: calc(50vh - 72px)
    }

    .play-details:not(.oneOf1):not(.oneOf2) img.portrait {
        /* These two values are in 210:297 ratio */
        max-height: calc(50vh - 84px);
        max-width: calc(35.4vh - 59.4px)
    }
    
    .play-details:not(.oneOf1):not(.oneOf2) img.landscape {
        height: calc(50vh - 120px)
    }
}