.play-details {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.portrait {
    height: 90%
}

img.landscape {
    height: 60%
}

.play-text {
    width: 50%
}

.tag {
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px 4px
}