.tag {
    display: inline-block;
    margin: -0.5px 4px -0.5px 4px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px 4px;
    background-color: #00ffff;
    cursor: pointer
}

.tag:hover {
    background-color: #80ffff
}

.tag:active {
    background-color: #b0ffff
}