.tag {
    display: inline-block;
    margin: -0.5px 4px -0.5px 4px;
    border: 1px solid rgb(58, 90, 90);
    border-radius: 6px;
    padding: 2px 4px;
    background-color: #ade9e9;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.tag:hover {
    background-color: #c4f5f5;
    text-decoration: underline;
}

.tag:active {
    background-color: #e7fcfc;
}

.first-word {
    font-weight: bold
}