header {
    background-color: rgb(248, 242, 192);
    background-image: radial-gradient(to center, rgb(250, 247, 214), rgb(247, 240, 181));
    position: sticky;
    top: 0;
    width: calc(100% - 12px);
    z-index: 2;
    padding: 12px 6px;
}

.clear-filter {
  display: inline-block;
  margin: -0.5px 4px -0.5px 4px;
  border: 1px solid #222204;
  border-radius: 6px;
  padding: 2px 4px;
  cursor: pointer;
  background-color: #fafa41;
}

.clear-filter:hover {
    background-color: #ffff73
}

.clear-filter:active {
    background-color: #ffffb0
}

@media (max-width: 767px) {
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-heading {
        font-size: 18px;
        margin-top: 3px;
        margin-bottom: 3px
    }

    .filter-paragraph {
        font-size: 14px;
        margin: 0
    }
}