nav {
    position: fixed;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* The checkbox toggling the menu is invisible, but changed via label */
#nav-open-toggler {
    display: none;
}

nav label {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

nav label img {
    width: 100%;
    height: 100%;
    margin: 0;
}

#nav-open-toggler ~ ul {
    display: flex;
    /* opacity and clip-path transition when #nav-open-toggler is checked */
    opacity: 0;
    clip-path: polygon(0 0, 120% 0, 120% 0%, 0 0%);
    transition: all 1s;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 3px;
    background-image: radial-gradient(to center, rgb(255, 255, 255), rgb(223, 213, 126));
    text-align: left;
    box-shadow: 3px 3px 6px rgb(133, 88, 62);
}

#nav-open-toggler:checked ~ ul {
    opacity: 1;
    clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
}

#nav-open-toggler ~ ul li {
    padding: 3px 6px;
    margin: 0;
    width: 100%;
}

#nav-open-toggler ~ ul li a {
    display: inline-block;
    width: 100%;
}

#nav-open-toggler ~ ul li a .fab {
    width: 18px;
    margin-right: 6px;
}