.Page {
  text-align: center;
  font-family: Alegreya, serif;
}

.clear-filters {
  display: inline-block;
  margin: -0.5px 4px -0.5px 4px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 4px;
  cursor: pointer;
  background-color: #ffff00
}

.clear-filters:hover {
    background-color: #ffff80
}

.clear-filters:active {
    background-color: #ffffb0
}

p {
  font-size: 15px
}