footer {
    position: static;
    bottom: 0;
    width: calc(100% - 6px);
    background-color: rgb(196, 226, 196);
    background-image: radial-gradient(to center, rgb(195, 241, 195), rgb(156, 243, 151));
    margin: 0;
    padding: 3px;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    padding: 0;
    list-style: none;
}

footer ul li + li {
    margin-left: 24px;
}

@media (max-width: 767px) {
    footer ul {
        flex-direction: column;
    }

    footer ul li + li {
        margin-bottom: 3px;
        margin-left: 0;
    }
}
